<!DOCTYPE html>
<html>
<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://rawgithub.com/isagalaev/highlight.js/master/src/styles/hybrid.css">
  <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="index.css">
  <link rel="stylesheet" href="massautocomplete.theme.css">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,user-scalable=no">
  <title>MassAutocomplete | Autocomplete for Angular.js applications with a lot to complete</title>

</head>

<body ng-app="app">
  <div ng-controller="mainCtrl" class="container main slim">
    <div class="jumbotron row">
      <h2>MassAutocomplete</h2>
      <div> Autocomplete for Angular.js applications with a lot to complete </div>
    </div>

    <nav class="navbar navbar-default navbar-inverse row" role="navigation">
      <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
          <li> <a href="#usage"> Usage </a> </li>
          <li> <a href="#motivation"> Motivation </a> </li>
          <li> <a href="#examples"> Examples </a> </li>
          <li> <a href="#options"> Options </a> </li>
          <li> <a href="benchmark.html"> Performance </a> </li>
          <li> <a href="#Accessibility"> Accessibility </a> </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li> <a href="https://github.com/hakib/MassAutocomplete"> <i class="fa fa-github text-muted fa-2x"></i> </a> </li>
          <li>
            <a href="https://angularjs.org/" rel="nofollow">
              <img src="AngularJS-Shield-small.png" alt="Angular.js homepage" height="25px">
            </a>
          </li>
          <li> <a href="https://twitter.com/share" class="twitter-share-button" data-via="be_haki" data-count="none" data-hashtags="AngularJS">Tweet</a> </li>
        </ul>
      </div>
    </nav>

    <div mass-autocomplete=ac_container_options>

    <h3> Details </h3>

    <table class="table table-bordered">
      <tr> <th> Dependencies </th> <td> Angular, Angular-Sanitize </td> </tr>
      <tr> <th> Size </th> <td> 12.2kb, 4kb minified </td></tr>
      <tr> <th> Bower </th> <td> <code> bower install angular-mass-autocomplete </code> </td> </tr>
      <tr> <th> <a href="https://www.npmjs.com/package/angular-mass-autocomplete">NPM</a> </th> <td> <code> npm install angular-mass-autocomplete </code> </td> </tr>
    </table>

    <h4> Directive </h4>
    <p>
      <code>mass-autocomplete</code> - Auto complete container. Maintains the suggestion box.
    </p>
    <p>
      <code>mass-autocomplete-item</code> - Attached to an input. Requires ng-model and mass-autocomplete.
    </p>

    <h3 id="usage"> Usage </h3>
    <div class="row">
      <div class="col-sm-4">
        <input type="text"
               ng-model="dirty.state_simple"
               placeholder="Select a state"
               class="form-control"
               mass-autocomplete-item="ac_options">
      </div>
      <div class="col-sm-8">
        <ul class="list-unstyled">
          <li ng-repeat="cb in callbacks track by $index">
            {{ $index }}: <code>{{ cb }}</code>
          </li>
        </ul>
      </div>
    </div>
    <h4> HTML </h4>
    <pre><code lang="html">&lt;html&gt;
  &lt;head&gt;
    &lt;script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"&gt;&lt;/script&gt;
    &lt;script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-sanitize.js"&gt;&lt;/script&gt;

    &lt;script src="massautocomplete.js"&gt;&lt;/script&gt;
    &lt;!-- Optional --&gt;
    &lt;link href="massautocomplete.theme.css" rel="stylesheet" type="text/css"&gt;
  &lt;/head&gt;

  &lt;body ng-app=app&gt;
    &lt;div ng-controller=mainCtrl&gt;
      &lt;div mass-autocomplete&gt;
        &lt;input ng-model="dirty.value"
               mass-autocomplete-item="autocomplete_options"&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/body&gt;
&lt;/html&gt;</code></pre>

    <h4> Javascript </h4>
    <pre><code lang="js">var app = angular.module('app', ['ngSanitize', 'MassAutoComplete']);
app.controller('mainCtrl', function ($scope, $sce, $q) {
  $scope.dirty = {};

  var states = ['Alabama', 'Alaska', 'California', /* ... */ ];

  function suggest_state(term) {
    var q = term.toLowerCase().trim();
    var results = [];

    // Find first 10 states that start with `term`.
    for (var i = 0; i &lt; states.length &amp;&amp; results.length &lt; 10; i++) {
      var state = states[i];
      if (state.toLowerCase().indexOf(q) === 0)
        results.push({ label: state, value: state });
    }

    return results;
  }

  $scope.autocomplete_options = {
    suggest: suggest_state
  };
});</code></pre>

    <hr>

    <h3 id="motivation"> Motivation </h3>
    <p>
      MassAutocomplete was created as part of a new project that required auto
      completing a lot of input fields.
    </p>
    <p>
      Most existing auto complete implementations
      (<a href="http://bower.io/search/?q=auto%20complete%20angular" rel="nofollow">1</a>,
      <a href="http://ngmodules.org/tags/autocomplete" rel="nofollow">2</a>) are
      wrapping the input field and appending a suggestion box along with several
      watches. This is fine as long as you want to auto-complete only one or two
      inputs. But, when there are several dozen inputs, the memory, DOM and watch
      count will start to bloat and that might impact performance.
    </p>

    <h4> A different approach </h4>
    <p>
      MassAutocomplete was implemented with a different approach in mind.
      Instead of attaching the suggestion box to each input field, we use
      transclusion to maintain only one box for the entire document. This
      approach guarantees that additional input fields will not require
      additional DOM or watches for the purpose of the auto complete.
    </p>
    <p>
      MassAutocomplete does not provide filtering, linking, ranking or sorting.
      Generating the suggestions is left to the application.
    </p>

    <h4> Comparing implementations </h4>
    <p>
      We performed a comparison between mass-autocomplete and the popular ui-typehead.
    </p>
    <p>
      <a href="benchmark.html"> <strong> The results are  here. </strong> </a>
    </p>

    <hr>

    <h3 id="examples"> Examples </h3>
      <p>
        All examples in this section are using just one <code>mass-autocomplete</code>
        container.
      </p>

      <h4> Kitchen Sink </h4>
      <h5> Complete example including <strong>highlighting</strong> and <strong>fuzzy matching</strong>.
          <strong>Searching</strong> and <strong>ranking</strong> using <a href="http://kiro.me/projects/fuse.html" rel="nofollow">Fuse.js</a>.
      </h5>
      <p> Try inserting <i>sauth</i> or <i>rod iland</i> or <i>gorgia</i>.</p>
      <div class="row">
        <div class="col-sm-4">
          <input type="text"
               class="form-control"
               placeholder="Select State"
               ng-model="dirty.fuse_selection"
               mass-autocomplete-item="ac_fuse_options">

        </div>
      <div class="col-sm-8">
<pre><code lang="js">
var fuzzySearch = new Fuse(states, {
  shouldSort: true,
  caseSensitive: false,
  threshold: 0.4,
});

function fuzzy_suggest(term) {
  if (!term)
    return [];

  return fuzzySearch
    .search(term)
    .slice(0, 10)
    .map(function (i) {
      var val = states[i];
      return {
        value: val,
        label: $sce.trustAsHtml(highlight(val, term))
      };
    });
}

$scope.ac_fuse_options = {
  suggest: fuzzy_suggest
};
</code></pre>
      </div>
     </div>

     <hr>

      <h4> Highlighting </h4>
      <div class="row">
        <div class="col-sm-4">
          <input type="text"
                 placeholder="Select a state (2 letters)"
                 class="form-control"
                 ng-model="dirty.country_highlight"
                 mass-autocomplete-item="ac_option_highlight" />
        </div>
        <div class="col-sm-8">
          <pre><code lang="js">function highlight(str, term) {
  var highlight_regex = new RegExp('(' + term + ')', 'gi');
  return str.replace(highlight_regex,
    '&lt;span class="highlight"&gt;$1&lt;/span&gt;');
};

function suggest_state_with_highlight(term) {
  if (term.length &lt; 2)
    return;

  var suggestions = suggest_state(term);
  suggestions.forEach(function (s) {
    // In real life you should reuse the regexp object.
    s.label = $sce.trustAsHtml(highlight(s.label, term));
  });

  return suggestions;
};

$scope.ac_option_highlight = {
  suggest: suggest_state_with_highlight
};</code></pre>
        </div>
      </div>

      <hr>

      <h4> Delimited </h4>
      <div class="row">
        <div class="col-sm-4">
          <input type="text"
                 placeholder="Select states (seperated by commas)"
                 class="form-control"
                 ng-model="dirty.country_delimited"
                 mass-autocomplete-item="ac_option_delimited">
        </div>
        <div class="col-sm-8">
          <pre><code lang="js">function suggest_state_delimited(term) {
  var ix = term.lastIndexOf(','),
      lhs = term.substring(0, ix + 1),
      rhs = term.substring(ix + 1),
      suggestions = suggest_state(rhs);

  suggestions.forEach(function (s) {
    s.value = lhs + s.value;
  });

  return suggestions;
};

$scope.ac_option_delimited = {
  suggest: suggest_state_delimited
};</code></pre>
        </div>
      </div>

      <hr>

      <h4> Custom formatting </h4>
      <div class="row">
        <div class="col-sm-4">
          <input type="text"
                 ng-model="dirty.country_tag"
                 placeholder="States as tags"
                 class="form-control"
                 mass-autocomplete-item="ac_option_tag">
        </div>
        <div class="col-sm-8">
          <pre><code lang="js">function suggest_state_as_tag(term) {
  var suggestions = suggest_state_delimited(term);
  suggestions.forEach(function (s) {
    s.label = $sce.trustAsHtml(
      '&lt;span class="badge"&gt;' + s.label + '&lt;/span&gt;'
    );
  });
  return suggestions;
};

$scope.ac_option_tag = {
  suggest: suggest_state_as_tag
};</code></pre>
        </div>
      </div>

     <hr>

     <h4> Using the selected object </h4>
     <div class="row">
        <div class="col-sm-4">
          <input type="text"
                 class="form-control"
                 placeholder="Select State"
                 ng-model="dirty.selected_tag"
                 mass-autocomplete-item="ac_option_tag_select">

          <br>

          <span class="text-muted" ng-if="tags.length === 0">
            No tags selected.
            <br><br>
            Select a tag from the auto complete menu using the keyboard or mouse.
          </span>

          <ul class="list-unstyled">
            <li ng-repeat="tag in tags track by $index">
              <div class="badge">{{tag}}</div>
            </li>
          </ul>
       </div>
       <div class="col-sm-8">
         <pre><code lang="js">$scope.tags = [];

function add_tag(selected) {
  $scope.tags.push(selected.value);
  // Clear model
  $scope.dirty.selected_tag = undefined;
};

$scope.ac_option_tag_select = {
  suggest: suggest_state_as_tag,
  on_select: add_tag
};</code></pre>
       </div>
     </div>

     <hr>

     <h4> Remote source </h4>
     <div class="row">
        <div class="col-sm-4">
          <input type="text"
                 class="form-control"
                 placeholder="Select State"
                 ng-model="dirty.remote_selection"
                 mass-autocomplete-item="ac_option_remote">

        </div>
        <div class="col-sm-8">
          <pre><code lang="js">function suggest_state_remote(term) {
  var deferred = $q.defer();
  // Fake remote source using timeout
  $timeout(function () {
    deferred.resolve(suggest_state(term));
  }, 500);
  return deferred.promise;
}

$scope.ac_option_remote = {
  suggest: suggest_state_remote,
  on_error: console.log
};</code></pre>
        </div>
      </div>

     <hr>

     <h4> Passing objects </h4>
     <div class="row">
        <div class="col-sm-4">
          <input type="text"
                 class="form-control"
                 placeholder="Name or Mail"
                 ng-model="dirty.continent"
                 mass-autocomplete-item="ac_options_users">

          <h5> Selected Object </h5>
          <pre>
{{ selected_user | json }}
          </pre>
        </div>
        <div class="col-sm-8">
          <pre><code lang="js">var users = [
  {name: 'Haki', joined: '2 month ago', email: 'Haki@email.com'},
  {name: 'Ran', joined: '2 days ago', email: 'Ran123@ac.org'},
  {name: 'John', joined: 'a week ago', email: 'JJ@gmail.com'},
  {name: 'Mary', joined: 'Yesterday', email: 'Mary@yahoo.com'},
  {name: 'Charlie', joined: 'Just now', email: 'Charlie@msn.com'},
  {name: 'Rebecca', joined: 'Yesterday', email: 'Becky@mail.com'},
  {name: 'James', joined: '3 month ago', email: 'James@inbox.com'}
];

function suggest_users(term) {
   var q = term.toLowerCase().trim(),
       results = [];

   for (var i = 0; i &lt; users.length; i++) {
     var user = users[i];
     if (user.name.toLowerCase().indexOf(q) !== -1 ||
         user.email.toLowerCase().indexOf(q) !== -1)
       results.push({
         value: user.name,
         // Pass the object as well. Can be any property name.
         obj: user,
         label: $sce.trustAsHtml(
           '&lt;div class="row"&gt;' +
           ' &lt;div class="col-xs-5"&gt;' +
           '  &lt;i class="fa fa-user"&gt;&lt;/i&gt;' +
           '  &lt;strong&gt;' + highlight(user.name,term) + '&lt;/strong&gt;'+
           ' &lt;/div&gt;' +
           ' &lt;div class="col-xs-7 text-right text-muted"&gt;' +
           '  &lt;small&gt;' + highlight(user.email,term) + '&lt;/small&gt;' +
           ' &lt;/div&gt;' +
           ' &lt;div class="col-xs-12"&gt;' +
           '  &lt;span class="text-muted"&gt;Joined&lt;/span&gt;' +
              user.joined +
           ' &lt;/div&gt;' +
           '&lt;/div&gt;'
         )
       });
   }
   return results;
};

$scope.ac_options_users = {
  suggest: suggest_users,
  on_select: function (selected) {
    $scope.selected_user = selected.obj;
  }
};</code></pre>
        </div>
      </div>

     <hr>

     <h4> Reusing options </h4>
     <div class="row">
        <div class="col-sm-4">
          <input type="number"
                 ng-model="n"
                 placeholder="How many inputs?"
                 class="form-control">

          <div class="text-muted"><br>Enter states:</div>
          <div ng-repeat="i in n_array(n) track by $index">
            <input type="text"
                 class="form-control input-sm"
                 placeholder="Select State"
                 ng-model="dirty.country[$index]"
                 mass-autocomplete-item="ac_option_highlight">
            <br>
          </div>
        </div>

        <div class="col-sm-8">
          <pre><code lang="html">&lt;div ng-repeat="i in n_array(n) track by $index"/&gt;
  &lt;input type="text"
         placeholder="Select State"
         ng-model="dirty.state[$index]"
         calc-autocomplete-item="ac_option_highlight"&gt;
&lt;/div&gt;</code></pre>
        </div>
     </div>

     <h3 id="options"> Options </h3>
     <table class="table table-bordered">
      <tr>
        <th colspan=2 class="text-center"> mass-autocomplete=options </th>
      </tr>
      <tr>
        <th> debounce_position(150) </th>
        <td> Debounce in ms for repositioning suggestion box on window resize. </td>
      </tr>
      <tr>
        <th> debounce_attach(300) </th>
        <td>
          Debounce in ms for attaching input after focus. <br>
          Prevents unnecessary positioning when quickly jumping between inputs
          using <kbd>tab</kbd>.
        </td>
      </tr>
      <tr>
        <th> debounce_suggest(200) </th>
        <td>
          Debounce in ms for calling suggest. <br>
          Useful for remote sources and to suspend suggestions while user is typing.
        </td>
      </tr>
      <tr>
        <th> debounce_blur(150) </th>
        <td>
          Debounce in ms for detach on blur. <br>
          Determines the amount of time in milliseconds before losing focus
          as a result of selecting from the menu until detach is invoked.
        </td>
      </tr>
      <tr>

      <tr>
        <th colspan=2 class="text-center"> mass-autocomplete-item=options_name </th>
      </tr>
      <tr>
        <th> suggest(term) </th>
        <td>
          <p>
            Receive a string and return an array of suggestions.
          </p>
          <p>
            Each suggestion must contain
            <ul class="list-unstyled">
              <li> <code>value</code> - Text to display in the textbox. </li>
              <li> <code>label</code> - String or trusted HTML to display in the suggestion box. </li>
            </ul>
          </p>
          <p>
            The label is bound using <code>ng-bind-html</code> -
            to bind raw html use <code>$sce.trustAsHtml()</code>.
          </p>
          <p>
            The return value is an array of objects or a promise that resolves
            to an array of objects.
          </p>
          <p>
            The object is passed to the <code>on_select</code> callback so
            additional properties can be used.
          </p>
        </td>
      </tr>
      <tr>
        <th> on_attach() </th>
        <td> Callback fired when the user focus a field. </td>
      </tr>
      <tr>
        <th> on_select(selected_item) </th>
        <td> Callback fired when the user select an item from the suggestion box. </td>
      </tr>
      <tr>
        <th> on_detach(current_value) </th>
        <td> Callback fired when the input field is blurred. Useful for purging caches. </td>
      </tr>
      <tr>
        <th> on_error() </th>
        <td> Callback fired in case <code>suggest()</code> fails. </td>
      </tr>
      <tr>
        <th> auto_select_first (false) </th>
        <td> Auto select the first option in the suggestion box. </td>
      </tr>

      <tr>
        <th colspan=2 class="text-center"> massAutoCompleteConfigProvider </th>
      </tr>

      <tr>
        <th> position_autocomplete(container, target) </th>
        <td> Called on attach to position the ac container relative to the target input. Some use common use cases when a custom positioning function might be desired:
          <ol>
            <li> The AC container should be fixed positioned. </li>
            <li> You wish to use external libraries to position the element (such as jquery). </li>
            <li> The default positioning function is not sufficient and adjustments cannot be made using only css.</li>
          </ol>
        </td>
      </tr>

      <tr>
        <th> generate_random_id(prefix) </th>
        <td> Used to generate random Id's starting at `prefix`. Id's are generated mostly for accessibility needs. <br> It's very unlikely you will need to change this function. </td>
      </tr>

      <tr>
        <th> DEBOUNCE </th>
        <td> Set default debounce globally.<br>Default values are:
          <ul>
            <li><code>position</code> = 150
            <li><code>attach</code> = 300
            <li><code>suggest</code> = 200
            <li><code>blur</code> = 150
          </li>
        </td>
      </tr>

    </table>

    <h4> CSS </h4>

    <p> The suggestion box template </p>
    <pre><code lang="html">&lt;div class="ac-container" ng-show="show_autocomplete &amp;&amp; results.length" style="position:absolute;"&gt;
  &lt;ul class="ac-menu"&gt;
    &lt;li ng-repeat="result in results"
      ng-if="$index &gt; 0"
      class="ac-menu-item"
      ng-class="$index == selected_index ? 'ac-state-focus' : ''"&gt;
      &lt;a href ng-click="apply_selection($index, $event)" ng-bind-html=result.label&gt; &lt;/a&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;</code></pre>
     <p>
       We recommend adding <code>backface-visibility: hidden;</code>
       and <code>transform: translate3d(0, 0, 0);</code>
       to <code>.ac-container</code> to limit the paint
       area to that of the suggestion box. See <code> massautocomplete.theme.css </code> for the complete CSS.
     </p>

    <h3 id="Accessibility"> Accessibility </h3>

    <p> The implementation was inspired by the <a href="http://archive.dojotoolkit.org/nightly/dojotoolkit/dijit/tests/form/_autoComplete.html"> dojo project implementation of autocomplete</a>. It is also recommended to include <a href="https://docs.angularjs.org/api/ngAria">ngAria</a> for the built-in aria support (mainly for ng-show/ng-hide).</p>

    <p> The following markup is used to accompany assisting technology: </p>

    <pre><code lang="html">

      &lt;input
          <mark>id="ac_element_XXXXXX"</mark>
          ng-model="dirty.value"
          mass-autocomplete-item /&gt;

      ....

      &lt;div class="ac-container"
           <mark>aria-autocomplete="list"</mark>
           <mark>role="listbox"</mark>
           <mark>aria-labelledby="ac_element_XXXXXX"</mark>
           <mark>aria-activedescendant="ac_item_XXXXX"</mark>
           ng-show="show_autocomplete"&gt;

        &lt;ul class="ac-menu"&gt;
          &lt;li ng-repeat="result in results"
              class="ac-menu-item"
              <mark>role="option"</mark>
              <mark>id="ac_item_XXXXX"</mark>
              ng-class="..."&gt;
              &lt;a href ng-click="..."&gt;&lt;/a&gt;
          &lt;/li&gt;
        &lt;/ul&gt;

      &lt;/div&gt;

    </code></pre>

    <h4> Keyboard </h4>
    <table class="table table-bordered table-condensed">
      <tr>
        <th><kbd>up</kbd>&nbsp;<kbd>down</kbd></th>
        <td>Previous/Next suggestion</td>
      </tr>
      <tr>
        <th><kbd>tab</kbd></th>
        <td>When suggestion box is open - next suggestion</td>
      </tr>
      <tr>
        <th><kbd>esc</kbd></th>
        <td>
          When suggestion box is open - close<br>
          When suggestion box is closed - revert to initial value.
        </td>
      </tr>
    </table>
  </div>
  </div>
  <a href="https://github.com/hakib/MassAutocomplete"><img style="position: absolute; top: 0; right: 0; border: 0; width: 120px;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>

  <script src="https://code.jquery.com/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/2.6.2/fuse.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-sanitize.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/highlight.min.js"></script>
  <!-- APP -->
  <script src="massautocomplete.js"></script>
  <script src="index.js"></script>

  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

  <script>

    $(function () {
      hljs.initHighlightingOnLoad();
      $('[mass-autocomplete-item]').each(function (i, elm) {
        $(elm).one('focus', function (e) {
          ga('send', 'event', 'autocomplete-item', 'focus', $(e.target).attr('mass-autocomplete-item'), 1);
        });
      });
      $(window).scroll(function () {
        if($(window).scrollTop() + $(window).height() == $(document).height()) {
          ga('send', 'event', 'window', 'scroll', 'bottom', 1);
          $(window).unbind('scroll');
        }
      });
    });

  </script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-55665057-1', 'auto');
    ga('send', 'pageview');
  </script>

  </body>
</html>
